*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Avenir-Black", sans-serif;
    font-size: 16px;
    --primary-clr: #55abdf;
    --secondary-clr: #5f5eaa;
}

#logo {
    display: block;
    width: 500px;
    margin: 20px auto;
}

nav {
    width: 80vw;
    max-width: 800px;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--primary-clr);
    font-weight: bold;
}

a:hover {
    color: var(--secondary-clr);
}

a.current {
    color: var(--secondary-clr)
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
}

.pen-container {
    width: 100vw;
    display:flex;
}

.pen-container img {
    width: 100vw;
}

#pen1-container {
    width: 50vw; 
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#pen2-container {
    width: 50vw;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.buttons {
    width: 80vw;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.buttons a {
    border: none;
    background-color: var(--primary-clr);
    color: white;
    padding: 10px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 150px;
    box-shadow: var(--secondary-clr) 3px 3px;
}

.buttons a:hover {
    background-color: var(--secondary-clr);
    box-shadow: var(--primary-clr) 3px 3px;
}

h2 {
    color: var(--primary-clr);
    margin: 30px auto;
    font-size: 3.5rem;
}

footer {
    background-color: black;
    color: white;
    padding: 60px 40px;
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: bold;
}

.last-line {
    color: grey;
    font-weight: 100;
    margin-top: 60px;
}

.highlight {
    color: var(--primary-clr)
}